header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 9.6rem;
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  z-index: 99;
  transition: all 0.3s;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &.fixed-menu {
    background: linear-gradient(
      180deg,
      #020203 0%,
      rgba(14, 17, 23, 0.92) 96.35%,
      rgba(14, 17, 23, 0.9) 100%
    );
    filter: drop-shadow(0px 4px 4px rgaba(0, 0, 0, 0.025));
  }
  .left-container {
    display: flex;
    align-items: center;
    .logo {
      position: relative;
      &:after {
        content: "";
        width: 4.3rem;
        border-top: 2px solid #00aeff;
        position: absolute;
        left: 0;
        bottom: -2.9rem;
      }
    }
    nav {
      position: relative;
      margin-left: 11.2rem;

      ul {
        display: flex;
        align-items: center;
        li {
          &:not(:first-child) {
            margin-left: 3.4rem;
          }
          a {
            display: flex;
            align-items: center;
            font-weight: 500;
            font-size: 1.4rem;
            line-height: 2.1rem;
            color: #ffffff;
            transition: color 0.3s;
            &:hover {
              color: $primary-default;
            }
            img {
              margin-left: 1.4rem;
              transition: transform 0.3s;
            }
            &.active {
              span {
                color: $primary-default;
              }
              img {
                transform: rotate(180deg);
              }
            }
          }
        }
      }
    }
  }
  .right-container {
    display: flex;
    align-items: center;
    .btn {
      &:not(:first-child) {
        margin-left: 1.6rem;
      }
    }
    .btn-menu-mobile {
      display: none;
    }
  }

  @media (max-width: 991px) {
    .left-container {
      nav {
        display: none;
      }
    }
    .right-container {
      .btn-menu-mobile {
        display: block;
        margin-left: 8.9rem;
      }
    }
  }
  @media (max-width: 560px) {
    height: 8rem;
    .left-container {
      .logo {
        max-width: 6.9rem;
        &:after {
          bottom: -2.5rem;
        }
      }
    }
    .right-container {
      .btn {
        display: none;
      }
    }
  }
}
.menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  background: linear-gradient(
    180deg,
    #020203 0%,
    rgba(14, 17, 23, 0.92) 96.35%,
    rgba(14, 17, 23, 0.9) 100%
  );
  filter: drop-shadow(0px 4px 4px rgaba(0, 0, 0, 0.025));
  backdrop-filter: blur(12px);
  width: 100%;
  padding-top: 9.6rem;
  transform: translateY(-100%);
  opacity: 0;
  transition: all 0.3s;
  pointer-events: none;
  &.active {
    display: block;
    transform: translateY(0%);
    opacity: 1;
    transition: all 0.3s;
    pointer-events: all;
  }
  &.esporte {
    .area-menu {
      ul {
        grid-template-columns: repeat(5, 1fr);
        li {
          a {
            width: 100%;
            height: 23.7rem;
            .icon {
              width: 17.4rem;
              height: 17.9rem;
            }
            span {
              width: 100%;
              height: 3.4rem;
            }
          }
        }
      }
    }
  }
  .area-menu {
    padding-top: 3.8rem;
    padding-bottom: 5.5rem;
    ul {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-gap: 2.8rem 3.2rem;
      li {
        a {
          width: 17.6rem;
          height: 17.6rem;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          .icon {
            width: 69.4px;
            height: 64.9px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 8.6px;
          }
          span {
            display: block;
            text-align: center;
            font-weight: 500;
            font-size: 1.4rem;
            line-height: 120%;
            color: #9d9d9d;
            width: 17.4rem;
            height: 3.4rem;
            transition: color 0.3s;
            &:hover {
              color: $primary-default;
            }
          }
        }
      }
    }
  }
  .footer-menu {
    width: 100%;
    height: 7rem;
    background: rgba(21, 23, 27, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    ul {
      display: flex;
      align-items: center;
      li {
        &:not(:first-child) {
          margin-left: 6.4rem;
        }
        a {
          display: flex;
          align-items: center;
          span {
            font-weight: 600;
            font-size: 1.6rem;
            line-height: 2.4rem;
            text-align: center;
            color: #ffffff;
            margin-left: 1rem;
            transition: color 0.3s;
            &:hover {
              color: $primary-default;
            }
          }
        }
      }
    }
  }
}
.menu-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2024;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(2, 2, 3, 0.5);
    z-index: 0;
  }
  aside {
    position: fixed;
    top: 0;
    left: 0;
    width: 75%;
    height: 100%;
    background: linear-gradient(
      180deg,
      #020203 0%,
      rgba(14, 17, 23, 0.92) 96.35%,
      rgba(14, 17, 23, 0.9) 100%
    );
    filter: drop-shadow(0px 4px 4px rgaba(0, 0, 0, 0.025));
    backdrop-filter: blur(12px);
    padding: 3rem;
    transform: translateX(-100%);
    transition: transforme 0.3s;
    .logo {
      max-width: 6.9rem;
      margin-bottom: 4rem;
    }
    nav {
      ul {
        padding-bottom: 1rem;
        li {
          a {
            padding: 1.5rem 0;
            display: block;
            font-size: 1.8rem;
          }
        }
      }
    }
    .mobile-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 16rem;
      .btn {
        padding: 0px 3.8rem;
      }
      a {
        &:not(:last-child) {
          margin-bottom: 2rem;
        }
      }
    }
  }
  @media (max-width: 991px) {
    aside {
      .mobile-container {
    opacity: 0;
    pointer-events: none;
      }
    }
  }
  @media (max-width: 991px) {
    aside {
      .mobile-container {
        opacity: 1;
        pointer-events: all;    
      }
    }
  }
  
}
.menu-opened {
  overflow: hidden;
  .menu-mobile {
    opacity: 1;
    pointer-events: all;
    aside {
      transform: translateX(0%);
    }
  }
}
